/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_ru.h"

// Layers
#define L_EN 0
#define L_RU 1
#define L_GAME 2

// Variables
#define ___ &trans
#define XXX &none


#define SMART_SHFT &bt_sh LSHIFT LSHIFT

/ {
    behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <700>; // duration.extra-long1
            quick-release;
            ignore-modifiers;
        };

        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // duration.short4
            bindings = <&mt LC(C) C>, <&kp LS(C)>;
        };

        bt_sh: sticky_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>; // duration.short3
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&skq>, <&kp>;
        };
    };

    macros {
        sll: select_lang_layer {
            compatible = "zmk,behavior-macro-one-param";
            label = "macro_select_lang_and_layer";
            #binding-cells = <1>;
            bindings = 
                <&kp LA(SPACE)>,
                <&macro_param_1to1>,
                <&macro_press &to MACRO_PLACEHOLDER>
            ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_home_workman {
            bindings = <
            XXX &kp Q &kp D &kp R &kp W &kp B                                 &kp J &kp F &kp U     &kp P   &kp SEMI XXX
            XXX &kp A &kp S &kp H &kp T &kp G                                 &kp Y &kp N &kp E     &kp O   &kp I    XXX
            XXX &kp Z &kp X &kp M &kp C &kp V XXX        &sll L_RU    XXX XXX &kp K &kp L &kp COMMA &kp DOT &kp FSLH XXX
                            XXX   XXX   XXX   SMART_SHFT &kp SPACE    XXX XXX XXX XXX &to L_GAME
            >;
        };

        layer_qwerty {
            bindings = <
            XXX &kp Q &kp W &kp E &kp R &kp T                                 &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
            XXX &kp A &kp S &kp D &kp F &kp G                                 &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
            XXX &kp Z &kp X &kp C &kp V &kp B &sll L_EN  XXX          XXX XXX &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &to L_EN
                            XXX   XXX   XXX   SMART_SHFT &kp SPACE    XXX XXX XXX XXX ___
            >;
        };

        layer_games_qwerty {
             bindings = <
             &kp ESC   &kp N1    &kp N2 &kp N3 &kp N4 &kp N5                                  &kp N6 &kp N7         &kp N8         &kp N9          &kp N0 &kp BACKSPACE
             &kp TAB   XXX       &kp Q  &kp W  &kp E  &kp R                                   &kp T  &kp Y          &kp UP_ARROW   &kp I           &kp O  &kp ENTER
             &kp GRAVE &kp LSHFT &kp A  &kp S  &kp D  &kp F &kp G     &kp H       &kp J &kp K &kp L  &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &kp P  &to L_EN
                                        &kp Z  &kp X  &kp C &kp LCTRL &kp SPACE   &kp V &kp B &kp N  &kp M          XXX
             >;
        };

        // LAYER TEMPLATES

        // layer_name {
        //     bindings = <
        //     ___ ___ ___ ___ ___ ___                      ___ ___ ___ ___ ___ ___
        //     ___ ___ ___ ___ ___ ___                      ___ ___ ___ ___ ___ ___
        //     ___ ___ ___ ___ ___ ___ ___ ___      ___ ___ ___ ___ ___ ___ ___ ___
        //                 ___ ___ ___ ___ ___      ___ ___ ___ ___ ___
        //     >;
        // };

        // layer_name {
        //     bindings = <
        //     XXX XXX XXX XXX XXX XXX                      XXX XXX XXX XXX XXX XXX
        //     XXX XXX XXX XXX XXX XXX                      XXX XXX XXX XXX XXX XXX
        //     XXX XXX XXX XXX XXX XXX XXX XXX      XXX XXX XXX XXX XXX XXX XXX XXX
        //                 XXX XXX XXX XXX XXX      XXX XXX XXX XXX XXX
        //     >;
        // };
    };
};
