#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_ru.h"

// Layers


// Variables
#define ___ &trans
#define XXX &none

#define MOD(keycode) LG(keycode)
#define SHFT &bt_sh LSHIFT LSHIFT
#define CTRL &bt_sh LCTRL LCTRL
#define ALT &bt_sh LALT LALT
#define LANG &kp LA(SPACE)
#define SNAV_SPACE &b_ssn 2 SPACE

/ {
    behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <700>; // duration.extra-long1
            quick-release;
            ignore-modifiers;
        };

        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // duration.short4
            bindings = <&mt LC(C) C>, <&kp LS(C)>;
        };

        bt_sh: sticky_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>; // duration.short3
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&skq>, <&kp>;
        };
        
        b_ssn: space_system_navigation {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>; // duration.short3
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };
// DT_N_S_keymap_S_  layer_default  _P_  bindings  _IDX_31_PH_P_label' undeclared here (not in a function)
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            //layers = <0 1...>
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // | ESC |  Й  |  Ц  |  У  |  К  |  Е\Ё  |                             |  Н  |   Г   |  Ш  |  Щ  |  З  |  Х  |
        // |  -  |  Ф  |  Ы  |  В  |  А  |   П   |                             |  Р  |   О   |  Л  |  Д  |  Ж  | RET |
        // |  -  |  Я  |  Ч  |  С  |  М  |   И   |  -  | LANG |    |  -  |  -  |  Т  |  Ь\Ъ  |  Б  |  Ю  |  Э  |  -  |
        //                         |   -   | SPACE\GUI |  --  |    |  -  | SHIFT | REPEAT |
        layer_default {
            bindings = <
            &kp ESC &kp Q &kp W &kp E &kp R &kp T                        &kp Y &kp U &kp I     &kp O      &kp P    &kp LBKT
            XXX     &kp A &kp S &kp D &kp F &kp G                        &kp H &kp J &kp K     &kp L      &kp SEMI &kp RET
            XXX     &kp Z &kp X &kp C &kp V &kp B XXX LANG       XXX XXX &kp N &kp M &kp COMMA &kp PERIOD &kp APOS XXX
                     XXX XXX          XXX SNAV_SPACE &mo 1       XXX SHFT &key_repeat               XXX XXX
            >;
        };

        layer_alternative {
            bindings = <
            XXX XXX XXX XXX XXX &kp GRAVE                XXX XXX      &kp O XXX &kp LBKT XXX
            XXX XXX XXX XXX XXX XXX                      XXX XXX      XXX   XXX XXX      XXX
            XXX XXX XXX XXX XXX XXX XXX XXX      XXX XXX XXX &kp RBKT XXX   XXX XXX      XXX
                        XXX XXX XXX XXX XXX      XXX XXX XXX XXX XXX
            >;
        };

        layer_system_nav {
            bindings = <
            XXX XXX         &kp MOD(N7) &kp MOD(N8) &kp MOD(N9) XXX                      XXX XXX XXX XXX XXX XXX
            XXX &kp MOD(N0) &kp MOD(N1) &kp MOD(N2) &kp MOD(N3) XXX                      XXX XXX XXX XXX XXX XXX
            XXX XXX         &kp MOD(N4) &kp MOD(N5) &kp MOD(N6) XXX XXX XXX      XXX XXX XXX XXX XXX XXX XXX XXX
                                                        XXX XXX XXX XXX XXX      XXX XXX XXX XXX XXX
            >;
        };

        layer_games_qwerty {
             bindings = <
             &kp ESC   &kp N1    &kp N2 &kp N3 &kp N4 &kp N5                                  &kp N6 &kp N7         &kp N8         &kp N9          &kp N0 &kp BSPC
             &kp TAB   XXX       &kp Q  &kp W  &kp E  &kp R                                   &kp T  &kp Y          &kp UP_ARROW   &kp I           &kp O  &kp RET
             &kp GRAVE &kp LSHFT &kp A  &kp S  &kp D  &kp F &kp G     &kp H       &kp J &kp K &kp L  &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &kp P  &to 0
                                        &kp Z  &kp X  &kp C &kp LCTRL &kp SPACE   &kp V &kp B &kp N  &kp M          XXX
             >;
        };

        // LAYER TEMPLATES

        // layer_name {
        //     bindings = <
        //     ___ ___ ___ ___ ___ ___                      ___ ___ ___ ___ ___ ___
        //     ___ ___ ___ ___ ___ ___                      ___ ___ ___ ___ ___ ___
        //     ___ ___ ___ ___ ___ ___ ___ ___      ___ ___ ___ ___ ___ ___ ___ ___
        //                 ___ ___ ___ ___ ___      ___ ___ ___ ___ ___
        //     >;
        // };

        // layer_name {
        //     bindings = <
        //     XXX XXX XXX XXX XXX XXX                      XXX XXX XXX XXX XXX XXX
        //     XXX XXX XXX XXX XXX XXX                      XXX XXX XXX XXX XXX XXX
        //     XXX XXX XXX XXX XXX XXX XXX XXX      XXX XXX XXX XXX XXX XXX XXX XXX
        //                 XXX XXX XXX XXX XXX      XXX XXX XXX XXX XXX
        //     >;
        // };
    };
};
